/* Fix user-agent */

* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

html {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
  color: #333;
}

ul {
  list-style: none;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* login page */

.login.page {
  background-color: #000;
}

.login.page img {
  display: block;
  margin: 100px auto 50px;
  width: 400px;
  height: 400px;
}

.login.page form#login {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: block;
  background-image: url('../images/textfield.png');
  background-repeat: no-repeat;
  background-position: 50% 0%;
  width: 400px;
  height: 200px;
}

.login.page form#login input[type=text] {
  width: 160px;
  border: 0px none;
  margin-top: 5px;
  margin-left: 100px;
}

.login.page form#login input[type=submit] {
  width: 230px;
  height: 31px;
  border: 2px #fff solid;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 16px;
  background: #666;
  color: #fff;
  cursor: pointer;
}

.login.page form#login input[type=submit]:hover {
  background: #fff;
  color: #666;
}

.rooms.page {
  display: none;
}

.chat.page {
  display: none;
}
